.pagination {
            font-size: 90%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}
.pagination a:hover {
	border: solid 1px #26B; 
}

.pagination a, .pagination span {
    /*2014.11.05 del
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    */
    display: inline-block;
    padding: 0.3em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
    /*2014.11.05 add*/
    min-width:34px;
    min-height:34px;
    vertical-align:middle;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #26B;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
